.gcloudignore
.git/
.gitignore
node_modules/
archive_raw_assets/
dist/
*.py
*.log
/*.mjs
/*.png
/*.jpg
/*.jpeg
/*.html
!index.html
/*.json
!package*.json
/*.txt
chrome_temp*/
GEMINI_SESSION_LOG.md
README.md
.oxlintrc.json


